@tailwind base;

@tailwind components;
@tailwind utilities;

@layer utilities {
    .fade-in-scroll {
        opacity: 0;
        transform: translateY(10vh);
        transition: opacity 0.4s ease-out, transform 0.4s ease-out;
        will-change: opacity, visibility;
    }
    .is-visible {
        opacity: 1;
        transform: none;
    }

    
}